.topDiv{
  background-color: #e4f9f5;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;

}

.middleDiv{
  background-color: Red;
height: 200px;
width: 200px;

}
.bottomDiv{
  background-color: Blue;
  height: 200px;
  width: 200px;
}

body{
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
}
h1{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

}
.dev{
  text-decoration: underline;
}
